* {
    margin: 0;
    padding: 0;
}

:root {
    --font: ;
}

body {
    margin: 30px;
}

#divpadre {
    position: relative;
}

.div {
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

#div1 {
    background-color: orange;
}

#div2 {
    background-color: palegoldenrod;
}

#div3 {
    background-color: pink;
}

.div:hover {
    animation:alternate;
    margin-left: 30%;
    transition: 2s;
}